= javascript 'dygraph-combined-dev'

%h1.title
  Microscopy lab temperature

%h3
  Tunnel with command:
  %code #{tunnel_ssh}

.row
  - current_temps.each_with_index do |pair, i|
    - name, temp = pair
    - cls = "t#{i+1}"
    .temp-box
      %h4
        %span.temp{class: cls} #{"%2.1f" % temp} °C
      %h5
        %span.temp{class: cls}
          (#{temp - calibrations[i]} #{"%+1.1f" % calibrations[i]} °C)

%form{url: '/', method: :get}
  .row
    .date-selector
      %span From:
      %input.flatpickr#startDate{type: "text", name: 'start', placeholder: "Select Date..", value: start_date}

    .date-selector
      %span To:
      %input.flatpickr#endDate{type: "text", name: 'end', placeholder: "Select Date..", value: end_date}

    .date-selector
      %input#submit{type: :submit, value: 'Update chart'}
      %button#extract{type: :submit, formaction: '/data'}
        Extract CSV

#graphdiv

:javascript
  document.getElementById("startDate").flatpickr({enableTime: true});
  document.getElementById("endDate").flatpickr({enableTime: true});

  width = window.innerWidth;

  formatTime = function (date) {
    return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' +
      date.getHours() + ':' + date.getMinutes()
  }

  onZoom = function (minDate, maxDate, yRanges) {
    start = new Date(minDate)
    end = new Date(maxDate)
    console.log(start, end)

    document.getElementById("startDate").value = formatTime(start)
    document.getElementById("endDate").value = formatTime(end)
  }

  startDate = document.getElementById('startDate').value
  endDate = document.getElementById('endDate').value

  g = new Dygraph(
    document.getElementById("graphdiv"),
    encodeURI("/data?start="+startDate+"&end="+endDate),
    {
      colors: ["#FF0000", "#00FF00", "#0000FF"],
      width: width * 0.9,
      zoomCallback: onZoom
    }
  );
